@media (min-width: 1020px) {
    .kerzen {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, calc(1vw + 300px));
    }
}

@media (max-width: 1020px) and (min-width: 650px) {
    .kerzen {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, calc(1vw + 300px));
    }
}

@media (max-width: 650px) {
    .kerzen {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, calc(1vw + 300px));
    }
}



.item {
    border: 2px solid black;
    margin: auto;
    margin-bottom: 0;
    margin-top: 5vw;
    height: 300px;
    width: 300px;
}

.item > img {
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
    height: 200px;
}

.item > sub {
    text-align: center;
    display: block;
    font-size: 200%;

}

.item > button {

    font-size: 150%;
    background-color: green;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid green;
    border-radius: 8px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}