*, *::before, *::after {
    box-sizing: border-box;
    font-family: Bahnschrift, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0; 
    background: linear-gradient(to top, rgb(0, 0, 0),   rgb(255, 41, 41)) fixed;
}

.grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(6, 100px);
}

.grid > button {
    height: 100px;
    width: 100px;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);

}

.grid > button.number {
    background-color: rgba(255, 255, 255, .60);
}

.grid > button.meta-clear {
    color: rgb(255, 96, 96);
}

.grid > button.meta-equals {
    background-color: rgb(255, 96, 96);
}

.grid > button:hover {
    background-color: rgba(255, 255, 255, .90)
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    font-size: 3rem;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    text-align: right;
}

